@import "tailwindcss";

:root {
  --deep-navy: #1A2530;
  --tech-blue: #0056D2;
  --electric-cyan: #00E5FF;
  --ice-blue: #F0F4F8;
  --crisp-white: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Base Styles */
body {
  background-color: var(--crisp-white);
  color: var(--deep-navy);
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes marqueeLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marqueeRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee-left {
  animation: marqueeLeft 30s linear infinite;
}

.animate-marquee-right {
  animation: marqueeRight 30s linear infinite;
}


